<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="NotesBooks_DBEntities" connectionString="metadata=res://*/NotesModel.csdl|res://*/NotesModel.ssdl|res://*/NotesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NotesBooks_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>